@import "./modals";

.title-game {
	color: white;
	height: 10vh;
}
.post-date {
	float: left;
	width: 70vw;
	height: 100%;
}

.gamepost {
	border: 1px solid white;
	background-image: url("../../../public/assets/banner.jpg");
	font-size: 20px;
	margin: 1%;
	border-radius: 50px;
	display: flex;
	p {
		margin: 20px;
		@include neon();
	}
}

.gp-title {
	flex: 0 0 70%;
	text-align: start;
}
.gp-user_id {
	flex: 0 1 auto;
    
}
.gp-valoration {
	flex: 1 0 auto;
	text-align: end;
}


