@import './modals';
.post{
    margin: 2% 30% 0% 2%;
    border: 1px solid white;
    height: 60%;  
    overflow-y: auto;
   
}
.container-post{
    display: flex;
    flex-direction: column;
}

.gamepost{ 
    @include neon();
    background-color: red;
    margin: 2%;
    border-radius: 20px;   
    display: flex;     
    padding: 10px; 
    font-size: 20px;
    border-style: double;
}

.gp-title{
    flex: 0 0 70%;
}
.gp-user_id{
    flex: 0 1 auto; 
}
.gp-valoration{
    flex: 1 0 auto;
    text-align: end;
}