#dialog_content{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    padding: 10px 20px 10px 20px;
    margin: 10% auto;
    border-radius: 10px;  
  }
  
  #dialog_register, #dialog_login{
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 10%;
    
  }
  
  dialog::backdrop {
    backdrop-filter: blur(2px);
  }
  