@mixin format {
	width: 50%;
	background-color: grey;
	border-radius: 20px;
	margin: auto;
    p {
        margin: 10px;
        text-align: start;
    }
	h1 {
		text-align: center;
	}
}

.title-publicpost {
	@include format();
}
.public-post {
	@include format();
	.prev-post {
		p {
			margin: 10px;
			text-align: start;
		}
	}
}
