div {
	border: 1px solid red;
	color: white;
}
.t-v-post,
.p-c-post {
	display: flex;
	.title-publicpost,
	.public-post {
		flex: 3;
		background-color: grey;
		border-radius: 25px;
		margin: 20px;
		h1,
		p {
			margin: 15px;
			text-align: start;
		}
	}
	.valoration-post,
	.comment-post {
		flex: 2;
		li {
			list-style: none;
		}
	}
}

/* .p-c-post {
	display: flex;
	.public-post {
		flex: 3;
		background-color: grey;
		border-radius: 25px;
		margin: 20px;
		p{
			text-align: start;
			margin: 15px;
		}
	}
	.comment-post {
		flex: 2;
	}
}
 */
/* @mixin format {
	width: 50%;
	background-color: grey;
	border-radius: 20px;
	margin: auto;
    p {
        margin: 10px;
        text-align: start;
    }
	h1 {
		text-align: center;
	}
}

.title-publicpost {
	@include format();
}
.public-post {
	@include format();
	.prev-post {
		p {
			margin: 10px;
			text-align: start;
		}
	}
} */
